body {
  min-height: 2000px;
}
.navbar {
  background-color: #d62828;
}
a.nav-link {
  color: #fcbf49;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #fcbf49;
}
.jumbotron img {
  width: 20%;
}
.about {
  background-color: #f77f00;
}
#about .col-5 p {
  text-align: justify;
}
.projects {
  background-color: #fcbf49;
}
